.vscode/
modelling_env/
figure/*
!.gitkeep
result/*
!exhastive_lasso_tuning_pattern.csv
!exhastive_lasso_tuning_result.csv
!.gitkeep
EDA/*
!.gitkeep
log/*
!.gitkeep
data/*
!gitkeep
modelling/__pycache__